<html>
    <head>
        <title>welcome</title> 
    </head>
    <body>
        <style>
            div{
                height: 100px;
                width: 100px;
                background-color: orange;
            }
        </style>
    </body>
</html>